/* This CSS doesn't affect the generated CSS. It just makes the input form look nicer. */
body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.message {
  font-size: 0.85rem;
  text-align: right;
  padding-bottom: 10px;
}

.input-row {
  flex: 0 0 auto; /* in body */
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
}

.input-container {
  flex: 0 0 50%; /* in row */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 25px;
}

.input-container label {
  flex: 1 1 auto; /* in container */
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
  padding: 0 10px;
}

.small-text {
  font-weight: normal;
}

.input-container input {
  flex: 0 0 50%; /* in container */
}

.checkbox-container {
  flex: 0 0 50%; /* in row */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 25px;
}

.checkbox-container label {
  font-size: 0.85rem;
  font-weight: bold;
  text-align: left;
}

.buttons-container {
  flex: 0 0 auto; /* in body */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-height: 25px;
}

.buttons-container button + button {
  margin-left: 2px;
}

.css-output-container {
  flex: 1 1 auto; /* in body */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.css-output-container textarea {
  flex: 1 1 auto;
  min-height: 100px;
}

.footnote-container {
  flex: 0 0 auto; /* in body */
  font-size: 0.85rem;
  margin-top: 2px;
  padding-bottom: 25px; /* because the bottom gets cut-off on CodePen for some reason */
}