:root {
  --primary-color: #0FFF; /* Main color for headers, links, etc. */
  --secondary-color: #e74c3c; /* Secondary color for buttons, accents, etc. */
  --background-color: #23272A; /* Background color for the whole page */
  --text-color: #FFFF; /* Default text color */
  --head-color: #ff7b00;
}

* {
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 9px;
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #0FFF;
}

/* Customize the scrollbar track on hover (optional) */
::-webkit-scrollbar-thumb:hover {
  background-color: #0FFF;
}

body {
  scrollbar-face-color: #0FFF;
  scrollbar-shadow-color: #0FFF;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
}

i {
  color: var(--head-color);
}

button {
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  color: white;
  cursor: pointer;
}