@font-face {
  font-family: 'Quicksand';
  src: url('depictions/Quicksand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}
